import React, { useEffect, useState, useCallback, useRef } from "react";
import { Link } from 'react-router-dom'; 
import {   Button, 
  Typography, 
  Container, 
  Box, 
  Paper,
  CardContent,
  Dialog,
  DialogTitle,
  DialogContent,
  TextField,
  DialogActions,
  CircularProgress,
  Collapse, 
  IconButton, IconButtonProps,
  Fade,
  Menu, MenuProps, MenuItem,
  Select, SelectChangeEvent } from '@mui/material';
import { AnimatedBackground, useAnimationControls } from 'animated-backgrounds';
import { styled } from '@mui/system';
import ExpandMoreIcon from '@mui/icons-material/ExpandMore';
import emailjs from 'emailjs-com';
import { keyframes } from "@mui/system";
import axios from "axios";
